<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0">

    <title>TaskFlow Pro Demo</title>
    <h3 style="color:green;">Deployed </h3>

    <!-- Bootstrap -->

    <link
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
        rel="stylesheet">

    <!-- Bootstrap Icons -->

    <link
        rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    <!-- Google Font -->

    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

    <!-- Custom CSS -->

    <link
        rel="stylesheet"
        href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body>

<!-- ===========================
     NAVBAR
=========================== -->

<nav class="navbar navbar-expand-lg navbar-dark">

    <div class="container">

        <a
            class="navbar-brand"
            href="/">

            <i class="bi bi-kanban-fill"></i>

            TaskFlow Pro

        </a>

        <div class="ms-auto d-flex align-items-center">

            <span class="text-white me-4">

                <i class="bi bi-cloud-check-fill"></i>

                Cloud Task Manager

            </span>

            <button
                id="themeToggle"
                class="btn btn-light btn-sm">

                <i class="bi bi-moon-stars-fill"></i>

            </button>

        </div>

    </div>

</nav>

<!-- ===========================
     CONTENT
=========================== -->

<div class="container py-5">

    {% block content %}

    {% endblock %}

</div>

<!-- ===========================
     FOOTER
=========================== -->

<footer class="text-center mt-5 mb-4">

    <hr>

    <p>

        © 2026 TaskFlow Pro |

        Built with

        <i class="bi bi-heart-fill text-danger"></i>

        using Flask, SQLite & AWS DevOps

    </p>

</footer>

<!-- Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Custom JS -->

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>
